{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<h1>Jarvis</h1>
<p>Le compagnon du menu et des courses</p>
<a href="{{ path('recipe_index') }}">Recettes</a>
{% endblock %}
