{% extends 'base.html.twig' %}

{% block title %}JARVIS{% endblock %}

{% block body %}
<h1>Jarvis</h1>
<p>Le compagnon du menu et des courses</p>
<a href="{{ path('recipe_index') }}">Recettes</a>
<a href="{{ path('aliment_index') }}">Aliments</a>
<a href="{{ path('menu_index') }}">Menus</a>
{% endblock %}
