{% extends 'base.html.twig' %}

{% block title %}Créer un type de recette{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <a class="p-3" href="{{ path('season_index') }}">Retour au type de recette</a>
    <h3 class="text-center my-4">
        {% block title_form %}Ajouter un type de recette{% endblock %}
    </h3>
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <div class="text-center"><input class="btn btn-primary" type="submit" value="{% block text_button %}Ajouter{% endblock %}"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
