#shifts-container {
  ul {
    padding-left: 0 !important;
  }
}

.dish-form {
  list-style-type: none;
}

.shifts-block {
  .alert {
    border-radius: 0;
  }
}

.shift-colors {
  .form-group {
    width: 50%;
    padding: 15px 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .form-check {
        padding: 0;
        input {
          display: none;
        }
        input + label {
          padding: 4px;
        }
        input:checked + label {
          padding: 4px;
          border-radius: 100%;
          background-color: white;
        }
      }
    }
  }
}