.recipe-box {
  border-left: 5px solid var(--primary);
}

.recipe-box .fa-utensils {
  font-size: 1.5rem;
  color: var(--primary);
}

.recipe-new-ingredients-card {
  border: solid 1px #ced4da;
  padding: 16px;
  list-style-type: none;
  border-radius: 4px;
  margin-bottom: 8px;
}