.recipe-ingredient-box {
  border-left: 5px solid var(--info);
}

.recipe-description-box {
  border-left: 5px solid var(--yellow);
}

.recipe-ingredient-box .fa-carrot, .recipe-description-box .fa-list-ol {
  font-size: 1.5rem;
}