.shopping-list {
  padding: 2%;
  background-color: #ffffa5;
  box-shadow: 2px 4px 6px #444;
  transform: rotate(2deg);
  border-bottom-right-radius: 60px 10px;
  max-width: 20rem;
}

.shopping-list-item:hover {
  cursor: pointer;
}