.shopping-list {
  padding: 2%;
  background-color: #ffffa5;
  box-shadow: 2px 4px 6px #444;
  border-bottom-right-radius: 60px 10px;
  max-width: 20rem;

  li {
    list-style-type: none;
  }

  ul {
    margin-bottom: 0;
  }

  .checked-item {
    color: grey;
    text-decoration: line-through;
  }

  .list-item-shop-place {
      width: 100%;
    margin-left: 0.4em;
  }

}

.shopping-list-item {
  margin-bottom: 0;
  padding-right: 0.5em;
  &:hover {
    cursor: pointer;
  }
}