//FIRST PALETTE
//$theme-colors: (
//  "light": #FFFFFF,
//  "dark": #000000,
//  "primary": #705ed7,
//  "secondary": #b4ace7,
//);

$theme-colors: (
  "light": #FFFFFF,
  "dark": #013776,
  "primary": #9AC8EB,
  "primary-blue": #5784BA,
  "secondary": #F4CFDF,
  "secondary-dark": #955149,
  "tertiary": #F7F6CF,
  "purple": #AFA4CE,
  "yellow": #FFC107,
  "yellow-dark": #856404,
);

$font-family-base: 'Coming Soon', cursive;
$font-family-title: 'Permanent Marker', cursive;

$enable-gradients: true;