$theme-colors: (
        "light": #FFFFFF,
        "dark": #000000,
        "primary": #705ed7,
        "secondary": #b4ace7,
);

$font-family-base: 'Coming Soon', cursive;
$font-family-title: 'Permanent Marker', cursive;

$enable-gradients: true;