{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <h4 class="text-center py-2">Liste des recettes</h4>
    <div class="text-center"><a class="my-3 btn btn-primary" href="{{ path('recipe_new') }}">Rédiger une nouvelle recette</a></div>
    <div class="container">
        <div class="row justify-content-center">
            {% for recipe in recipes %}
                <a class="col-11 col-sm-4 recipe-box alert alert-primary mx-2" href="{{ path('recipe_show', {'id': recipe.id}) }}">
                    <i class="fas fa-utensils mr-2"></i>
                    {{ recipe.title }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
