{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    <h2>Ajout d'une nouvelle recette</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Ajouter">
    {{ form_end(form) }}
{% endblock %}